= image_tag (user.online ? "online.gif" : "offline.gif")
= image_tag (user.gender == "female" ? "woman1.jpg" : "man1.jpg")
= link_to (image_tag "pm.gif"), anketum_path(:id => user.id), :title => "User Info"
%strong
  = link_to "#{user.login}", "#",:onclick => "Personal_message('#{user.id}', '#{user.login}')", :style => "width: 140px;"
  %br