= javascript_include_tag "jquery.insertAtCursor"
.content
  .content_center
    #messages
      = render :partial => "chat/chat_room", :remote => true, :locals => {:@histories => @histories}
    %div{:style => "clear: both;"}
    .personal
      = label_tag "Send all:"
    .all
      = link_to "Send all", "#", :style => "display: none; float: right;", :onclick => "All_message();"
    %div{:style => "clear: both;"}
    = form_for(@history, :url => chat_index_path(@history), :html => { :method => "post", :remote => true }) do |f|
      = f.text_area :message, :style => "width: 99%; float: left; margin-bottom: 5px; max-width: 99%; min-width: 99%; max-height: 100px;"

      #bbcBox_message{:style => "display: block; float: left;"}
        -['b','i','u','img','email'].each_with_index do |pict, i|
          %div{:style => "float: left;", :id => "BBCBox_message_button_#{i+1}"}
            =image_tag("icon/#{pict}.gif", :onclick => "addTag($('textarea'), '#{pict}'); return false;")
        %div{:style => "float: left;", :id => "BBCBox_message_button_7"}
          =link_to image_tag("icon/url.gif"),"#", :onclick => "addUrlTag($('textarea'), 'url'); return false;"
        %div{:style => "float: left;"}
          -{"smiley" => '":-)"',"wink" => '";-)"', "sad" => '":-("', "grin" => '";-D"', "angry" => '"!:("', "cheesy" => '":-D"'}.each do |key, value|
            =image_tag("/assets/post/#{key}.gif", :alt => key, :onclick => "addSmileTag($('textarea'), '#{value}'); return false;")
        = select( "payment", "id", {"Font size" => 0, "8pt" => 8, "10pt" => 10, "12pt" => 12, "14pt" => 14, "18pt" => 18, "24pt" => 24, "36pt" => 36}, {}, :style => "width: 90px; margin-left: 10px;", :onchange => "addSizeTag($('textarea'), $(this).val());")
        = select( "size", "id", {"Change Color" => "white","Black" => "Black", "Red" => "red", "Green" => "green", "Yellow" => "yellow", "Blue" => "blue", "Pink" => "pink", "Orange" => "orange", "Brown" => "brown"}, {}, :style => "width: 120px; margin-left: 5px;", :onchange => "addColorTag($('textarea'), $(this).val());")
        = f.file_field :picture,:multiple => true
      = f.submit "Send", disable_with: "Waiting...", :style => "width: 70px; height: 25px; float: right;", :onclick => "Tt();"
      = button_tag "Clear", disable_with: "Waiting...", :style => "width: 70px; height: 25px; float: right;", :onclick => "Clear(); return false;"
      = f.hidden_field :recive_id
      %br
  .people
    =link_to "EDIT INFO", edit_anketum_path(current_user.id)
    .online_users{:style => "margin-top:25px;"}
      -@users.each do |user|
        .online_user{:style => "height:26px;"}
          = render :partial => "chat/people", :locals => {:user => user}