!!!
%html
  %head
    %title Chat
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application.css'
    = stylesheet_link_tag 'jquery.fancybox-1.3.4.css'
    = csrf_meta_tag
    %script{:src=>"http://localhost:8080/application.js", :type=>"text/javascript", :charset=>"utf-8"}
    %script{:type=>"text/javascript", :charset=>"utf-8"}
  %body
    #container
      #header
        %h1
          %a{:href => "/"} C H A T
        -if user_signed_in?
          %a
            =link_to "Logout - #{current_user.email}", destroy_user_session_path,  :method => :delete
            :javascript
              var jug = new Juggernaut;
              jug.subscribe("channel1", function(data){
                $('<div id=list><strong style="color: blue;">'+data.login+" "+data.created_at+": "+'</strong><br><div class=text">'+data.message+'</div>').appendTo('#message');
              });
              jug.subscribe("#{current_user.id}", function(data){
                $('<div id=list_pm><strong style="color: red;">'+data.login+" "+data.created_at+": "+'</strong><br><div class=text">'+data.message+"</div>").appendTo('#message');
              });
      #main
        = yield
        #footer
          .block
      #sidebar
        = yield :sidebar